.cabecalho {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu__item {
    list-style: none;
}

.menu__item:last-child .menu__link{
    margin-right: 0;
}
.menu__lista {
    display: flex;
}

.menu__link {
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}






   
/*                 banner                    */

.banner {
    position: relative;
}


.banner__imagem {
    background: url(../img/banner.jpg) no-repeat center / cover;
    height: calc(100vh -  72px);
    width: 100%;
}

.banner__titulo {
    font-family: Pacifico, cursive;
    color: #fdfdfd;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}







/*                        sobre                     */

.sobre {
    text-align: center;
    padding: 2.5rem;
}

.sobre__titulo {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
}

.sobre__descricao {
    color:  #595959;
    font-size: 1.75rem;
    font-weight: 100;
}







/*                    receitas              */

.receitas {
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

.receita {
    background: #fdfdfd;
    display: flex;
   flex-direction: column;
   margin-bottom: 5rem;
   margin-right: 5rem;
   width: calc(25% - 5rem);
}

.receita-imagem {
    height: 200px;
}

.receita__titulo {
    font-size: 1.4375rem;
}

.receita__descricao {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita__conteudo {
    padding: 1rem;
}

.receita__botao {
    background: #8d0606;
    border: none;
    border-radius: 5px;
    columns: #fdf;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background: #620404;
    cursor: pointer;
}







/*          quem somos           */
.quem-somos {
    text-align: center;
    padding: 5rem;
}

.quem-somos__titulo {
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.1875rem;
    font-family:  Pacifico,  cursive;
}

.quem-somos__descricao {
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}




/*                         pessoas                 */

.pessoa {
    display: flex;
    flex-direction: column;
}

.pessoas {
    display: flex;
    padding-top: 3rem ;
    justify-content: space-around;
}

.pessoa__nome {
    margin: 1rem 0;
    font-family: Pacifico, cursive;
    color: #8d0606;
    font-size: 2rem;
}

.pessoa__funcao {
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}

.pessoa__imagem {
    border-radius: 100%;
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 300px;
    background-repeat: no-repeat;
}
.pessoa__imagem--roberta {
    background-image: url(../img/roberta.jpg);

}

.pessoa__imagem--marcela {
    background-image: url(../img/marcela.jpg);

}

.pessoa__imagem--andreia {
    background-image: url(../img/andreia.jpg);
}






/*    rodapé       */

.rodape {
    background: #bfbfbf;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
  }






